<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sereyna.easyplan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/action_sign_up"
            android:name=".SignUpActivity"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/action_sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>